<% layout('/layouts/boilerplate') -%>

<div class="card">
    <div class="card-body">
      <h1 class="card-title">Hello <%= user.username %>! </h1>
      <p class="card-text pt-3"><strong>Email: </strong> <%= user.email %> </p>
      <a href="/campgrounds" class="btn btn-success mt-3">All Campgrounds</a>
    </div>
</div>
